
cryptography==41.0.3
flask==2.0.1
flask-bcrypt==1.0.1
flask-login==0.6.2
flask-WTF==1.1.1
flask-sqlalchemy==3.0.5
google-cloud-vision==3.4.4
opencv-python==4.8.0.76
pandas==2.0.3
pdf2image==1.16.3
pyjwt==2.8.0
pytz==2023.3
wtforms==3.0.1
numpy==1.24.4
pytesseract==0.3.10
python-dateutil==2.8.2
email-validator==2.0.0.post2
werkzeug==2.0.2
