{% extends 'headfoot.html' %}
{% block title %}
<title>Dashboard</title>
{% endblock title %}

{% block body %}

<br><br><br><br><br>

	<h2 align="center">Dashboard</h2>
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col-8">

    <strong>Name:</strong>
	{{ data[0] }}<br/><br><br>

	<strong>Id:</strong>
	{{ data[1] }}<br/><br><br>

			<strong>Username:</strong>
	{{ data[2] }}<br/><br><br>


	<strong>Date Joined:</strong>
	{{ data[3] }}<br/><br><br>


    <a href="{{ url_for('logout')}}" class="btn btn-secondary btn-sm">Logout</a>
            <a href="{{ url_for('download_list', token=current_user.token)}}" class="btn btn-warning btn-sm">Extracted Files</a>
			<br><br>

		</div></div></div>

{% endblock body %}
{% set sticky = true %}
