{% extends 'headfoot.html' %}
{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>DataExtractor | Template saved</title>
<style>


</style>
{% endblock title %}
{% block body %}
<br><br><br>

<h1 align="center">Extracted</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
        <th scope="col">CSV Filename</th>
        <th scope="col">Date_time</th>
		<th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
  {% for d in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
        <td>{{ d.csvfilename }}</td>
        <td>{{ d.date_time }}</td>
        <td><a href="{{ url_for('download', id=d.id) }}" target="_blank">View</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br><br><br><br>
{% endblock body %}
{% set sticky = True %}
