{% extends 'headfoot.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>Index</title>
{% endblock title %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css"
      rel="stylesheet"
    />
    
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>
</head>
<body>
{% block body %}
</nav>
<header>
    <style>

      /* Carousel styling */
      #introCarousel,
      .carousel-inner,
      .carousel-item,
      .carousel-item.active {
        height: 100vh;
      }

      .carousel-item:nth-child(1) {
        background-image: url('/static/1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(2) {
        background-image: url('/static/2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      .carousel-item:nth-child(3) {
        background-image: url('/static/3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      @media (min-width: 992px) {
        #introCarousel {
          margin-top: -58.59px;
        }
      }

      .navbar .nav-link {
        color: #fff !important;
      }


    </style>

    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </ol>

      
      <div class="carousel-inner">
        
        <div class="carousel-item active">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1 class="mb-3">Text Extracted</h1> <BR>
                 <h4>From image</h4>
                <a class="btn btn-outline-light btn-lg m-2" href="{{  url_for('template') }}"
                  role="button" rel="nofollow">Template</a>
                   <a class="btn btn-outline-light btn-lg m-2" href="{{  url_for('template') }}"
                  role="button" rel="nofollow">Folder</a>
              </div>
            </div>
          </div>
        </div>

        
        <div class="carousel-item">
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h2><i>Extracting text from images for data analysis and automation tasks</i></h2>
              </div>
            </div>
          </div>
        </div>

        
        <div class="carousel-item">
          <div class="mask" style="
                background: linear-gradient(
                  45deg,
                  rgba(29, 236, 197, 0.7),
                  rgba(91, 14, 214, 0.7) 100%
                );
              ">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                  {% if current_user.is_authenticated %}
                  <a class="btn btn-outline-light btn-lg m-2"
                   href="{{ url_for('logout') }}" role="button">LOGOUT</a>
                  {% else %}
                <a class="btn btn-outline-light btn-lg m-2"
                   href="{{ url_for('signup') }}" role="button">SIGNUP</a>
                <a class="btn btn-outline-light btn-lg m-2"
                  href="{{ url_for('login')}}" role="button">LOGIN</a>
                  {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
      
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</header>
    <main class="mt-5">
    <div class="container">
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mb-4">
            <div data-mdb-ripple-color="light">
              <img src="/static/1.jpg" class="img-fluid"/>
              <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
            </div>
          </div>
          <br>
          <br>
          <div class="col-md-6 gx-5 mb-4">
            <h4><strong>About</strong></h4>
            <p class="text-muted">
              Our website offers a simple way to extract information from image files, especially invoices. Through our
                user-friendly interface, users can easily upload image files containing data, such as invoices. Once an
                image is uploaded, our sophisticated logic automatically processes it to extract the necessary
                information. It is simple to access and save the extracted data for later use. We also provide a
                scheduling feature that enables users to designate specific times for data extraction. Because of this,
                users can plan the extraction process for their preferred time, ensuring maximum convenience and
                efficiency. With the help of our website, data extraction from image files is simple, effective,
                and adaptable to each user's needs.
            </p>
          </div>
        </div>
      </section>
    </div>
    </main>
{% endblock body%}
{% set show_log = True %}
{% set sticky = True %}
</body>
</html>