{% extends 'headfoot.html' %}
{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jsondata.css') }}">
<script src="{{ url_for('static', filename='js/jsondata.js') }}"></script>
<title>DataExtractor | Download</title>
{% endblock title %}
{% block body %}
    <br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>

    <div class="container">
        <br>
        <br>
        <div class="container table-view">
            <h5 class="container"><b>Table View</b></h5>

            <table class="table table-striped" id="tableview">
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th scope="col"><b>{{ col }}</b></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in tables %}
                    <tr>
                        {% for value in row.values() %}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <h5 class="container"><b>Json View</b></h5>
        <pre class="container shadow" id="savetxt">{{ data_json }}</pre>

        <br>
        <span class="btn btn-dark" id="changebutton">Transpose</span>
        <br>
        <br>

        <label for="formGroupExampleInput" class="form-label"><b>Download extracted text</b></label>
        <input type="text" class="form-control" id="dload-fn" placeholder="File name" value="">
        <br>
        <button id="dload" class="btn btn-primary" onclick="Jsonexport()">Download Json</button>
        <button class="btn btn-primary" id="btnExportToCsv">Download CSV/Excel</button>
    <a href="{{ url_for('upload_csv', id1=id1) }}" methods="POST" class="btn btn-warning"
           onclick="return confirm('Do you want to edit the file?')">Edit</a>
        <a href="{{ url_for('delete_extract', id=id1) }}" class="btn btn-danger"
           onclick="return confirm('Do you want to delete the file?')">Delete</a>
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Instructions</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <li>You can download extracted data in json and csv/excel format using "Download Json" and "Download Excel"
                buttons. Before clicking on the buttons, you need to assign a file name as you want.</li>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>

    <script>
        $("span").click(function () {
            $("table").each(function () {
                var $this = $(this);
                var newrows = [];
                $this.find("tr").each(function () {
                    var i = 0;
                    $(this).find("td").each(function () {
                        i++;
                        if (newrows[i] === undefined) { newrows[i] = $("<tr></tr>"); }
                        newrows[i].append($(this));
                    });
                });
                $this.find("tr").remove();
                $.each(newrows, function () {
                    $this.append(this);
                });
            });

            return false;
        });

        // New download
        const dataTable = document.getElementById("tableview");
        const btnExportToCsv = document.getElementById("btnExportToCsv");

        btnExportToCsv.addEventListener("click", () => {
            const exporter = new TableCSVExporter(dataTable);
            const csvOutput = exporter.convertToCSV();
            const csvBlob = new Blob([csvOutput], { type: "text/csv" });
            const blobUrl = URL.createObjectURL(csvBlob);
            const anchorElement = document.createElement("a");

            anchorElement.href = blobUrl;
            anchorElement.download = `${document.getElementById("dload-fn").value}.csv`;
            anchorElement.click();

            setTimeout(() => {
                URL.revokeObjectURL(blobUrl);
            }, 500);
        });

        class TableCSVExporter {
            constructor(table, includeHeaders = true) {
                this.table = table;
                this.rows = Array.from(table.querySelectorAll("tr"));

                if (!includeHeaders && this.rows[0].querySelectorAll("td").length) {
                    this.rows.shift();
                }
            }

            convertToCSV() {
                const lines = [];
                const numCols = this._findLongestRowLength();

                for (const row of this.rows) {
                    let line = "";

                    for (let i = 0; i < numCols; i++) {
                        if (row.children[i] !== undefined) {
                            line += TableCSVExporter.parseCell(row.children[i]);
                        }

                        line += (i !== (numCols - 1)) ? "," : "";
                    }

                    lines.push(line);
                }

                return lines.join("\n");
            }

            _findLongestRowLength() {
                return this.rows.reduce((l, row) => row.childElementCount > l ? row.childElementCount : l, 0);
            }

            static parseCell(tableCell) {
                let parsedValue = tableCell.textContent;
                parsedValue = parsedValue.replace(/"/g, `""`);
                parsedValue = /[",\n]/.test(parsedValue) ? `"${parsedValue}"` : parsedValue;
                return parsedValue;
            }
        }
    </script>
    <br><br>
{% endblock body %}
{% set sticky = True %}
 {% set showheader = true %}
