{% extends 'headfoot.html' %}
{% block title %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginform.css') }}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon/icon.jpg') }}">
{% endblock title %}

{% block body %}

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>


    <div class="content">
      <div class="text">Login Form</div>
      <form method="post">
        <div class="field">
          <span class="fas fa-user"></span>
          {{ form.hidden_tag() }}
          {{ form.username }}

        </div>
        <div class="field">
          <span class="fas fa-lock"></span>
          {{ form.password }}

        </div>
        <br>
        <button>Sign in</button>
        <div class="signup">Not a member?
          <a href="{{ url_for("signup") }}">signup now</a>
        </div>
      </form>
  </div>
  {% endblock body %}