{% extends 'headfoot.html' %}
{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>DataExtractor | Registered</title>
{% endblock title %}
{% block body %}


<br><br><br>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" onclick="closeAlert(this)">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<script>
    function closeAlert(alertElement) {
        alertElement.classList.remove("show");
        setTimeout(function() {
            alertElement.style.display = "none";
        }, 500);
    }
</script>
<h1 align="center">Registered Users</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Slno</th>
      <th scope="col">Name</th>
        <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
		<th scope="col">IP</th>
		<th scope="col">Mac</th>
        <th scope="col">Date_Time</th>
        {% if current_user.type == "Employee"%}
        <th scope="col">Edit</th>
        {% endif %}
        <th scope="col">Mail</th>
        <th scope="col">Remove</th>

    </tr>
  </thead>
  <tbody>
  {% for row in data %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
		<td>{{ row[2] }}</td>
		<td>{{ row[3] }}</td>
		<td>{{ row[4] }}</td>
		<td>{{ row[5] }}</td>
		<td>{{ row[6] }}</td>
    {% if row[3] == "User" and current_user.type == "Employee"%}
    <td>
            <form action="{{ url_for("edit_user", id=row[-1]) }}">
                <input type="submit" class="btn btn-primary btn-sm mt-3"
                       onclick="return confirm('Please confirm that you want to edit?')"
                       value="Edit">
            </form>
            </td>
    {% endif %}
            <td>
            <form action="mailto:{{ row[1] }}" method="post">
                <input type="submit" class="btn btn-warning btn-sm mt-3"
                       onclick="return confirm('Please confirm that you want to mail to {{ row[1] }}?')"
                       value="Mail">
            </form>
            </td>
        {% if row[2] != "Admin" %}
        <td>
            <form action="{{ url_for('remove_user', id=row[-1]) }}" method="post">
              <input type="submit"  class="btn btn-danger btn-sm mt-3"
                     onclick="return confirm('Please confirm that you want to Remove {{ row[2] }}?')"
                     value="Remove">
            </form>

          </td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

  {% endblock body %}
{% if Data %}
    {% set sticky = True %}
{% endif %}
{% set showheader = true %}