{% extends 'headfoot.html' %}
{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
<title>DataExtractor | Template saved</title>
<style>


</style>
{% endblock title %}
{% block body %}
<br><br><br>


    <h1 align="center">Template uploaded</h1>
    <br/><br/>
      <div align="center"><a class="nav-link active" aria-current="page"  href="{{ url_for('template') }}">
          🏠 Click Here To Go To Home</a></div>

{% endblock body %}
